.basic_conversation_content p
{
    height: 1.5em;
    /*margin-top: 1em;
    margin-bottom: 0em;*/
}

.first_sentence
{
    margin-top: 0.6em;
    margin-bottom: 0.4em;
}

#switcher
{
    background-color: grey;
    padding-left: 0.5em;
    padding-bottom: 0.8em;
    padding-right: 0.5em;
    float: right;

    border-radius: 0.3em;
}

.class_content
{
    margin-left: 20em;
    margin-top: 2em;
}

.basic_conversation
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    position: relative;
    float: left;
    width: 100%
}

.basic_conversation_index
{
    float: left;
    position: relative;
    background-color: grey;
    color: white;
}

.basic_conversation_content
{
    float: left;
    position: relative;
    margin-left: 1em;
}

.basic_sentence_area
{
    background-color: gray;
    border-radius: 0.625em;
    padding-left: 0.7em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    width: 35em;
}